<%= form_for @task, html: {class: ""} do |f| %>
  <%= f.text_area :description, size: "60x5" %>
  <%= f.submit "Submit" %>
<% end %>

<ul class="bottom-links">
  <li> <%= link_to 'Cancel', tasks_path %> </li>
</ul>
